.todo-items {
    border-radius: 10px;
    background-color: #222;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;    
}

.todo-items h3 {
    color: #fff;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
}

.todo-items .delete-icon {
    background-color: #999;
    border-radius: 10px;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.todo-items .delete-icon .icon {
    font-size: 24px;
    color: rgb(115, 44, 44);
}

.todo-items .icons {
    display: flex;
    height: 100%;
    gap: 8px;
}